<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html ng-app="app.core">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../dist/css/vendor.min.css" />
        <link rel="stylesheet" href="../dist/app.css" />

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <section class="global-wrapper">

            <!-- Header -->
            <ng-include src="'js/app/partial/header/_header.html'"></ng-include>

            <section class="main-content" ui-view></section>
        </section>

        <!-- Will init breeze. NOTE: This should come before the preload-resource breeze metadata-->
        <breeze-init />

        <!-- Preload resources section -->
        <preload-resource ng-cloak resource-content="<%= breezeMetadata %>" />

        <!-- Scripts -->
        <script src="../dist/vendor.js"></script>
        <script src="../dist/bundle.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                e.src='//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
