<ul class="panel callout row">
    <li class="small-16 columns" ng-repeat="person in people">
        <span>{{ ::person.name }}</span>
        <span>{{ ::person.address.street }}</span>
        <span>{{ ::person.address.city }}</span>
        <span>{{ ::person.address.country }}</span>
        <button class="button tiny" ng-click="editPerson(person)">Edit</button>
        <button class="button alert tiny" ng-click="removePerson(person)">X</button>
    </li>
</ul>

<form div class="row">
    <div class="small-12 columns">
        <label>Name <input type="text" placeholder="Name" ng-model="person.name"/></label>
    </div>

    <div class="small-4 columns">
        <label>Street <input type="text" placeholder="Street" ng-model="person.address.street" /></label>
    </div>
    <div class="small-4 columns">
        <label>City <input type="text" placeholder="City" ng-model="person.address.city" /></label>
    </div>
    <div class="small-4 columns">
        <label>Country <input type="text" placeholder="Country" ng-model="person.address.country" /></label>
    </div>

    <a class="button tiny" ng-click="addEditPerson()">{{ actionBtnTitle }}</a>
</form>

<div data-access-rights="{ role: ['user', 'admin'] }" id="admin-only" class="restricted">This should be visible only to admin users</div>
<div data-access-rights="{ role: ['superuser'] }" id="superuser-only" class="restricted">This should be visible only to super users</div>