<section class="row">
    <h1 class="small-9 columns">Login</h1>

    <form class="panel callout">
        <div class="row">
            <div class="large-12 columns">
                <label for="user-name">UserName: </label>
                <input id="user-name" type="text" ng-model="username" placeholder="Username"/>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label for="password">Password: </label>
                <input id="password" type="password" ng-model="password" placeholder="Password"/>
            </div>
        </div>
        <span id="login-btn" class="button tiny" ng-click="login()">Loggin</span>
    </form>
</section>