// header
$header-bg-color: #3C3C3C;
$header-text-color: #FFF;
$menu-bg-color: #222;
$header-font-family: 'Francois One', sans-serif;
$header-small-height: 150px;
$menu-small-height: 35px;
$menu-small-item-wrapper: 60px;
$header-item-hover-color: #C13A13;
$header-main-content-height: $header-small-height - $menu-small-height;
$header-small-logo-height: 60px;